# Configuration values for bootstrap.sh.
#
# Copy this file to secrets.cfg and update the values for your
# setup.
#

# User to add to the 'www' group
web_user=vagrant

# Updated root password for MySQL
DB_PASSWORD=password

# IP to allow access to for phpMyAdmin (relative to vagrant box)
remote_ip_address=192.168.33.1

# Example.com
WP_DB=wordpress
WP_DB_HOST=localhost
WP_DB_USER=wordpress
WP_DB_PASSWORD=password
WP_DB_PREFIX=wp_
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=password
WP_ADMIN_EMAIL=admin@example.com
